<form action="/post" method="POST">
    <label for="content">Content</label>
    <textarea name="content" rows="10" cols="50" placeholder="Write something here..." maxlength="200"></textarea>
    <label for="picName">Name your picture:</label>
    <input type="text" name="picName" id="picName">

    <label for="picPath">Image URL</label>
    <input type="text" name="picPath" id="picPath"> 

    <button type="submit">Post it!</button>
    
</form>