

<div class="landing-page">
    
    <div class="post-box">
        <img src="{{picPath}}" alt="User Image">
    </div>

    <div class="text">

        <h2>{{picName}}</h2>
        <p>{{content}}</p>
        <p class="creator-id">Post created by: {{creatorId}}</p>
        <a href="/">Go back</a>
        
    </div>

</div>

<hr>